<body>

    {% if path == "/" %}
        <a href="/signup">SignUp</a>
        <a href="/login">login</a>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-center fs-3">{{message}}</p>
                </div>
            </div>
        </div>
    {% endif %}
    
    
    {% if path == "/signup" %}
    <div class="container">
        <div class="row">
            <div class="col">
            <h1 class="display-1 text-center">Inscription</h1>
            </p>
                <form action="/signup" method="post">
                    <div>
                        <label for="name" class="form-label">Votre nom :</label>
                        <input type="text" class="form-control" placeholder="Entrez votre nom" id="name" name="name">
                        {% if 'name' in message %}
                            <p class="bg-danger-subtle p-2 mt-1 border border-danger rounded">{{message['name']}}</p>
                        {% endif %}  
                    </div>

                    <div class="mt-2">
                        <label for="firstname" class="form-label">Votre prénom :</label>
                        <input type="text" class="form-control" placeholder="Entrez votre prénom" id="firstname" name="firstname">
                        {% if 'firstname' in message %}
                            <p class="bg-danger-subtle p-2 mt-1 border border-danger rounded">{{message['firstname']}}</p>
                        {% endif %}  
                    </div>

                    <div class="mt-2">
                        <label for="mail" class="form-label">Votre Email :</label>
                        <input type="email" class="form-control" placeholder="Entrez votre Email" id="mail" name="mail">
                        {% if 'email' in message %}
                            <p class="bg-danger-subtle p-2 mt-1 border border-danger rounded">{{message['email']}}</p>
                        {% endif %}  
                        {% if 'user' in message %}
                            <p class="bg-danger-subtle p-2 mt-1 border border-danger rounded">{{message['user']}}</p>
                        {% endif %}  
                    </div>

                    <div class="mt-2">
                        <label for="psw1" class="form-label">Votre Mot de Passe :</label>
                        <input type="password" class="form-control" placeholder="Entrez votre Mot de Passe" id="psw1" name="psw1">
                    </div>

                    <div class="mt-2">
                        <label for="psw2" class="form-label">Confirmer le Mot de Passe:</label>
                        <input type="password" class="form-control" placeholder="Confirmer votre Mot de Passe" id="psw2" name="psw2">
                        {% if 'password' in message %}
                            <p class="bg-danger-subtle p-2 mt-1 border border-danger rounded">{{message['password']}}</p>
                        {% endif %}  
                    </div>

                    <input type="submit" value="S'inscrire" name="formSub" class="btn btn-lg mt-4 d-block w-25 mx-auto bg-secondary fs-3 text-light">
                </form>
                {% if 'success' in message %}
                    <p class="bg-success-subtle border border-success-subtle p-2 mt-3 rounded text-center fs-3">{{message['success']}}</p>
                    <a href="/login" class="btn btn-secondary d-block">Se connecter</a>
                {% endif %}
                
            </div>
        </div>
    </div>
    {% endif %}

    {% if path == '/login' %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-1 text-center mt-3">Se connecter</h1>
                    {% if error %}
                        <p class="text-center bg-danger-subtle fs-4 p-2 my-3 rounded shadow border border-danger">{{error}}</p>
                    {% endif %}
                    
                    <form action="/login" method="post" class="mt-5">

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" placeholder="Votre Email" name="email">
                            <label for="floatingInput">Votre Email :</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="psw" placeholder="Votre Mot de Passe" name="password">
                            <label for="psw">Votre Mot de Passe</label>
                        </div>
                    
                        <input type="submit" value="Se connecter" class="btn btn-lg bg-info d-block w-25 mx-auto mt-3">
                    </form>
                    {% if user_list %}
                        <p class="text-center fs-4 mt-3 bg-success-subtle border border-success rounded shadow p-2">Vous vous êtes connecté avec succès vous pouvez rejoindre la page d'accueil en suivant le lien ci-dessous :</p>
                        <a href="/" class="btn btn-lg btn-secondary d-block w-25 mx-auto">Accueil</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    
    
    

    {% include "footer.html" %}
    {% include "scripts.html" %}
</body>
</html>

