<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-1 text-center mt-3">Oops il y a une erreur {{code}}</h1>
            <p class="text-center fs-3 mt-4">Il semble que la page que vous souhaitez n'est pas ou plus disponible.</p>
            <div class="w-50 mx-auto">
                <img src="{{url_for('static', filename='images/404.jpeg')}}" alt="image de robot avec erreur 404" class="img-fluid">
            </div>
        </div>
    </div>
</div>

